rsource "lib/Kconfig"
rsource "drivers/Kconfig"

config MESHTASTIC
	bool "enable meshtastic subsystem"
	select LORA_BASICS_MODEM_DRIVERS
	select ZBUS
	select NANOPB
	select BASE64
	select SETTINGS
	help
		Idk something
